#filter-wrapper{
	background-color: #ddd;
}
@media only screen and (min-width: 320px){
	#filter-wrapper{
		padding: 20px 5px;
	}
}
@media only screen and (min-width: 480px){
	#filter-wrapper{
		padding: 20px 50px;
	}
}
@media only screen and (min-width: 768px){
	#filter-wrapper{
		padding: 20px 100px;
	}
}
span.cause-clickable:hover{
	background-color: rgb(100, 100, 100);
	cursor: pointer;
}