header .navbar{
	margin-bottom: 0;
}
header .navbar .filter{
	margin-left: 180px;
	width: 100px;
}
header .navbar .filter .navbar-text{
	font-size: 1.2em;
	color: #5cb85c;
	cursor: pointer;
}
header .navbar-brand h1{
	margin: 0;
	font-family: "Crete Round", sans-serif;
	font-size: 1.2em;
}
header .navbar-brand h1 .color {
	color: #5cb85c;
}
header .add-ngo{
	color: white;
	background-color: #5cb85c;
	padding: 6px 12px;
}
header .add-ngo:hover{
	background-color: #ddd;
}
.headroom {
	transition: transform 200ms linear;
}
.headroom--pinned {
	transform: translateY(0%);
}
.headroom--unpinned {
	transform: translateY(-100%);
}

@media only screen and (min-width: 320px){
	header .navbar .container-fluid{
		padding: 0 5px;
	}
	header .navbar .mobile{
		display: none;
	}
}
@media only screen and (min-width: 480px){
	header .navbar .container-fluid{
		padding: 0 15px;
	}
	header .navbar .mobile{
		display: inline;
	}
}
