#tabletop-wrapper{
	background-color: #eee;
}
#tabletop-wrapper .loading{
	display: none;
}
#tabletop-wrapper .loading:first-child:last-child{
	text-align: center;
	display: block;
}
#tabletop-wrapper .panel-heading{
	font-weight: bold;
}
@media only screen and (min-width: 320px){
	#tabletop-wrapper{
		padding: 20px 0;
	}
}
@media only screen and (min-width: 480px){
	#tabletop-wrapper{
		padding: 20px 50px;
	}
}
@media only screen and (min-width: 768px){
	#tabletop-wrapper{
		padding: 20px 100px;
	}
}
span.cause{
	background-color: rgb(136, 136, 136);
	padding: 0px 8px;
	line-height: 26px;
	border-radius: 5px;
	margin: 3px 5px;
	color: white;
	white-space: nowrap;
	display: inline-block;
}